$ipad_max_width: 1024px;
$tablet_max_width: 960px;
$big_phone_max_width: 620px;
$phone_max_width: 420px;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//body{
//    overflow-x: hidden;
//    margin-right: -30px;
//}
html {
    scroll-behavior: smooth;
    /* свойство scroll-behavior не наследуется, применяется к прокручиваемым блокам */
}

header {
    position: fixed;
    z-index: 100;
    background-color: #fff;
    width: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    z-index: 100;
    background-color: #fff;
    width: 100%;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
    height: 70px;
    .container-fluid {
        .social {
            text-align: center;
            font-size: 20px;
            .fab {
                margin-top: 20px;
                margin-left: 20px;
                color: black;
            }
        }
        .footerBottom {
            display: flex;
            justify-content: center;
            .fa-copyright {
                margin-left: 20px;
                font-weight: 500;
                a {
                    margin-left: 10px;
                    text-decoration: none;
                    font-size: 16px;
                    color: gray;
                }
            }
        }
    }
}

// Fonts
.font_8 {
    font: normal normal normal 20px/1.4em raleway, sans-serif;
    color: #363636;
}

.font_2 {
    font: normal normal normal 18px/1.4em italic, serif;
    color: #BABABA;
    letter-spacing: 0.1em;
    font-style: italic;
}
.font_5{
    color: rgba(54,54,54,1) !important;
    font: normal normal normal 20px/1.4em avenir-lt-w01_35-light1475496,sans-serif;
    outline: none;
}
.font_9{
        color: rgba(54,54,54,1) !important;
    font: normal normal normal 18px/1.4em italic serif;
    font-family: serif;
    font-style: italic;
    
    outline: none;
}
.subscribe-button {
    background-color: rgba(54, 54, 54, 1) !important;
    border-color: rgba(54, 54, 54, 1);
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
    font: normal normal normal 16px/20px avenir-lt-w01_35-light1475496, sans-serif;
}

p {
    margin: 0 20%;
}

//.social{
//    justify-content: center;
//    align-items: center;
//}
.ml5 {
    button {
        margin-left: 5px;
    }
}

.inp {
    display: inline-block;
    border-top-right-radius: 0px;
    width: 40%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.line {
    margin-left: 50%;
    width: 1px;
    height: 70px;
    background-color: gray;
    opacity: 0.5;
}

.card {
    width: 40%;
    height: 600px;
}

.first_block {
    display: inline-flex;
    vertical-align: middle;
    width: 45%;
    height: 45vw;
    margin: 2%;
    padding: 2%;
    transition: 0.3s;
    border: 1px #ccc solid;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    background-image: url(/img/Flamingo.jpg);
    background-size: cover;
    &:hover {
        opacity: 0.6;
        .second_block {
            display: block;
            a {
                text-decoration: none;
                font-family: "Raleway", sans-serif;
                color: white;
            }
        }
    }
}

.second_block {
    display: none;
    font-size: 22px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
}

.container-fluid {
    .main_bg {
        background-attachment: fixed!important;
        margin-top: 100px;
        position: relative;
        .primary-text {
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            p {
                margin-left: 50px;
            }
        }
        background: url('../img/qq.jpg');
        height: 600px;
        width: 100%;
    }
    .centered {
        padding: 50px 0px 30px 0px;
    }
    .nav_menu {
        padding: 20px;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: space-between;
        a {
            margin: 20px;
            font-size: 18px;
            text-decoration: none;
            color: #363636;
            font-family: 'Raleway', sans-serif;
            &:hover {
                color: #D1A33D;
            }
        }
        .block {
            display: inline-flex;
        }
        //        a:nth-child(2) {
        //            margin-left: 50%;
        //        }
    }
    .nav_menu_mobile {
        padding: 20px;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
        display: none;
        justify-content: space-between;
        a {
            margin: 20px;
            font-size: 18px;
            text-decoration: none;
            color: #363636;
            font-family: 'Raleway', sans-serif;
            &:hover {
                color: #D1A33D;
            }
        }
        .block {
            display: inline-flex;
        }
        //        a:nth-child(2) {
        //            margin-left: 50%;
        //        }
    }
    //Burger menu
    .burger-menu {
        position: relative;
        width: 50px;
        height: 65px;
        cursor: pointer;
        z-index: 9999;
    }
    .burger {
        position: absolute;
        background: rgba(111, 111, 111, 1);
        width: 20px;
        height: 5px;
        top: 50%;
        right: 0px;
        margin-top: -5px;
        opacity: 1;
    }
    .burger::before {
        position: absolute;
        background: rgba(111, 111, 111, 1);
        width: 20px;
        height: 5px;
        top: 10px;
        content: "";
        display: block;
    }
    .burger::after {
        position: absolute;
        background: rgba(111, 111, 111, 1);
        width: 20px;
        height: 5px;
        bottom: 10px;
        content: "";
        display: block;
    }
    .burger::after,
    .burger::before,
    .burger {
        transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
    }
    .burger-menu.menu-on .burger::after {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        bottom: 0px;
    }
    .burger-menu.menu-on .burger::before {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        top: 0px;
    }
    .burger-menu.menu-on .burger {
        background: rgba(111, 111, 111, .0);
    }
}

.end {
    margin-bottom: 70px;
}

.row {
    img {
        vertical-align: middle;
        width: 45%;
        height: 45vw;
        margin: 2%;
        padding: 2%;
        transition: 0.3s;
        &:hover {
            opacity: 0.6;
        }
    }
}

.social {
    .d-block {
        margin-left: 24%;
    }
}

@import url('https://fonts.googleapis.com/css?family=Abel');
h1 {
    font-family: 'Abel', sans-serif;
    font-weight: 100;
    font-size: 40px;
    text-align: center;
}

.container {
    width: 80%;
    margin: 0 auto;
}

a {
    outline: 0 !important;
}

.magnific-img img {
    width: 100%;
    height: auto;
}

.mfp-bottom-bar,
* {
    font-family: 'Abel', sans-serif;
}

.magnific-img {
    display: inline-block;
    width: 47%;
    margin: 1%;
    position: relative;
    transition: 0.3s;
    &:hover{
            opacity: 0.5;
        div{
opacity: 1;        }
        }
    div{
position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
        opacity: 0;
    text-decoration: none;  
        
    }
    a {
        i {
            visibility: hidden;
        }
    }
}

a.image-popup-vertical-fit {
    cursor: pointer;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
    opacity: 0;
    -webkit-backface-visibility: hidden;
    /* ideally, transition speed should match zoom duration */
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.98;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
    opacity: 0;
}

.mfp-arrow-left:before {
    border-right: none !important;
}

.mfp-arrow-right:before {
    border-left: none !important;
}

button.mfp-arrow,
.mfp-counter {
    opacity: 0 !important;
    transition: opacity 200ms ease-in, opacity 2000ms ease-out;
}

.mfp-container:hover button.mfp-arrow,
.mfp-container:hover .mfp-counter {
    opacity: 1 !important;
}


/* Magnific Popup CSS */

.mfp-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1042;
    overflow: hidden;
    position: fixed;
    background: #0b0b0b;
    opacity: 0.8;
}

.mfp-wrap {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1043;
    position: fixed;
    outline: none !important;
    -webkit-backface-visibility: hidden;
}

.mfp-container {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0 8px;
    box-sizing: border-box;
}

.mfp-container:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.mfp-align-top .mfp-container:before {
    display: none;
}

.mfp-content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    text-align: left;
    z-index: 1045;
}

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
    width: 100%;
    cursor: auto;
}

.mfp-ajax-cur {
    cursor: progress;
}

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    cursor: -moz-zoom-out;
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
}

.mfp-zoom {
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
    cursor: auto;
}

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.mfp-loading.mfp-figure {
    display: none;
}

.mfp-hide {
    display: none !important;
}

.mfp-preloader {
    color: #CCC;
    position: absolute;
    top: 50%;
    width: auto;
    text-align: center;
    margin-top: -0.8em;
    left: 8px;
    right: 8px;
    z-index: 1044;
}

.mfp-preloader a {
    color: #CCC;
}

.mfp-preloader a:hover {
    color: #FFF;
}

.mfp-s-ready .mfp-preloader {
    display: none;
}

.mfp-s-error .mfp-content {
    display: none;
}

button.mfp-close,
button.mfp-arrow {
    overflow: visible;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    display: block;
    outline: none;
    padding: 0;
    z-index: 1046;
    box-shadow: none;
    touch-action: manipulation;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.mfp-close {
    width: 44px;
    height: 44px;
    line-height: 44px;
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    text-align: center;
    opacity: 0.65;
    padding: 0 0 18px 10px;
    color: #FFF;
    font-style: normal;
    font-size: 28px;
    font-family: Arial, Baskerville, monospace;
}

.mfp-close:hover,
.mfp-close:focus {
    opacity: 1;
}

.mfp-close:active {
    top: 1px;
}

.mfp-close-btn-in .mfp-close {
    color: #333;
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
    color: #FFF;
    right: -6px;
    text-align: right;
    padding-right: 6px;
    width: 100%;
}

.mfp-counter {
    position: absolute;
    top: 0;
    right: 0;
    color: #CCC;
    font-size: 12px;
    line-height: 18px;
    white-space: nowrap;
}

.mfp-arrow {
    position: absolute;
    opacity: 0.65;
    margin: 0;
    top: 50%;
    margin-top: -55px;
    padding: 0;
    width: 90px;
    height: 110px;
    -webkit-tap-highlight-color: transparent;
}

.mfp-arrow:active {
    margin-top: -54px;
}

.mfp-arrow:hover,
.mfp-arrow:focus {
    opacity: 1;
}

.mfp-arrow:before,
.mfp-arrow:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent;
}

.mfp-arrow:after {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px;
}

.mfp-arrow:before {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7;
}

.mfp-arrow-left {
    left: 0;
}

.mfp-arrow-left:after {
    border-right: 17px solid #FFF;
    margin-left: 31px;
}

.mfp-arrow-left:before {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F;
}

.mfp-arrow-right {
    right: 0;
}

.mfp-arrow-right:after {
    border-left: 17px solid #FFF;
    margin-left: 39px;
}

.mfp-arrow-right:before {
    border-left: 27px solid #3F3F3F;
}

.mfp-iframe-holder {
    padding-top: 40px;
    padding-bottom: 40px;
}

.mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px;
}

.mfp-iframe-holder .mfp-close {
    top: -40px;
}

.mfp-iframe-scaler {
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-top: 56.25%;
}

.mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000;
}


/* Main image in popup */

img.mfp-img {
    width: auto;
    max-width: 100%;
    height: auto;
    display: block;
    line-height: 0;
    box-sizing: border-box;
    padding: 40px 0 40px;
    margin: 0 auto;
}


/* The shadow behind the image */

.mfp-figure {
    line-height: 0;
}

.mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444;
}

.mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px;
}

.mfp-figure figure {
    margin: 0;
}

.mfp-bottom-bar {
    margin-top: -10%;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    min-height: 5%;
    cursor: auto;
    background-color: #101010;
    color: #363636 !important;
    font: normal normal normal 18px/1.4em italic serif;
    font-style: italic;
    outline: none;
}

.mfp-title {
    text-align: left;
    line-height: 18px;
    color: #F3F3F3;
    word-wrap: break-word;
    padding-right: 36px;
}

.mfp-image-holder .mfp-content {
    max-width: 100%;
}

.mfp-gallery .mfp-image-holder .mfp-figure {
    cursor: pointer;
}
.logoBlock{
    display: flex;
}
.blockHidden{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 8999;
    display: none;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 800px) and (orientation: landscape),
screen and (max-height: 300px) {
    
    /**
       * Remove all paddings around the image on small screen
       */
    .mfp-img-mobile .mfp-image-holder {
        padding-left: 0;
        padding-right: 0;
    }
    .mfp-img-mobile img.mfp-img {
        padding: 0;
    }
    .mfp-img-mobile .mfp-figure:after {
        top: 0;
        bottom: 0;
    }
    .mfp-img-mobile .mfp-figure small {
        display: inline;
        margin-left: 5px;
    }
    .mfp-img-mobile .mfp-bottom-bar {
        background: rgba(0, 0, 0, 0.6);
        bottom: 0;
        margin: 0;
        top: auto;
        padding: 3px 5px;
        position: fixed;
        box-sizing: border-box;
    }
    .mfp-img-mobile .mfp-bottom-bar:empty {
        padding: 0;
    }
    .mfp-img-mobile .mfp-counter {
        right: 5px;
        top: 3px;
    }
    .mfp-img-mobile .mfp-close {
        top: 0;
        right: 0;
        width: 35px;
        height: 35px;
        line-height: 35px;
        background: rgba(0, 0, 0, 0.6);
        position: fixed;
        text-align: center;
        padding: 0;
    }
}

@media all and (max-width: 900px) {
    .mfp-arrow {
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
    }
    .mfp-arrow-left {
        -webkit-transform-origin: 0;
        transform-origin: 0;
    }
    .mfp-arrow-right {
        -webkit-transform-origin: 100%;
        transform-origin: 100%;
    }
    .mfp-container {
        padding-left: 6px;
        padding-right: 6px;
    }
}
@media screen and (max-width: 748px){
    .nav_menu{
        display: none!important;
    }
    .nav_menu_mobile{
        display: flex!important;
    }
    .magnific-img {
    display: block;
    width: 90%;
}
}
